div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.modal {
  position: absolute;
  top: 0px;
  left: 35%;
  width: 500px;
  height: 300px;
  background-color: greenyellow;
  margin-inline: auto;
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

span {
  border: 1px solid gray;
  padding: 5px;
  color: gray;
}

span:hover {
  cursor: pointer;
  color: rgb(2, 63, 26);
  border-color:rgb(2, 63, 26);
}